<h1>Listing messages</h1>

<table>
  <thead>
    <tr>
      <th>Channel</th>
      <th>Text</th>
      <th>User</th>
      <th>Command</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.channel_id %></td>
        <td><%= message.text %></td>
        <td><%= message.user %></td>
        <td><%= message.command %></td>
        <td><%= link_to 'Show', message %></td>
        <td><%= link_to 'Edit', edit_message_path(message) %></td>
        <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Message', new_message_path %>
