<h1>Listing messages</h1>

<%= search_form_for @q do |f| %>
    <div class="control-group">
      <%= f.label :name_cont %>
      <div class="controls">
        <%= f.text_field :text_cont %>
      </div>
    </div>

    <%= f.select :channel_id_eq, options_from_collection_for_select(Channel.all, "id", "name", @q.channel_id_eq), include_blank: true %>
    <%= f.date_select :created_at_gteq, include_blank: true %>〜
    <%= f.date_select :created_at_lteq, include_blank: true %>

    <%= f.submit %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Channel</th>
      <th>Text</th>
      <th>User</th>
      <th>Command</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.channel_id %></td>
        <td><%= message.text %></td>
        <td><%= message.user %></td>
        <td><%= message.command %></td>
        <td><%= link_to 'Show', message %></td>
        <td><%= link_to 'Edit', edit_message_path(message) %></td>
        <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Message', new_message_path %>
