<% content_for :title do %>
  <%= "#{@message.text} by #{@message.user} on #{@message.channel.name}: Baku" %>
<% end %>

<p id="notice"><%= notice %></p>

<div class="card" style="width: 80%;">
  <div class="card-block">
    <h3 class="card-title">
      <%= fa_icon 'user' %> <%= @message.user %>
      <%= @message.channel.name %>
    </h3>
    <p class="card-text">
      <%= @message.text %>
    </p>
    <%= link_to 'Show in context', @message.surrounding_log_link_param, { class: 'btn btn-primary' } %>
  </div>
  <div class="card-footer text-muted">
    <%= @message.created_at.to_s(:irc_detail) %>
  </div>
</div>
