<div class="jumbotron">
<h1>Share all knowledge, devour it.</h1>
    <%= search_form_for @q, :url => {:controller => 'search', :action => 'index'}, html: {class: "row", role: "form"} do |f| %>
      <div class="form-group col-sm-10">
        <%= f.label :name_cont, class: "sr-only" %>
        <%= f.text_field :text_cont, class: "form-control", placeholder: "What are you looking for?" %>
      </div>
      <button type="submit" class="btn btn-default col-sm-2">Search</button>
    <% end %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Channel</th>
      <th>User</th>
      <th>Text</th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td style="width: 200px"><%= link_to message.created_at, message %></td>
        <td><%= message.channel.name %></td>
        <td><%= message.user %></td>
        <td class="<%= 'text-muted' if message.command == "NOTICE" %>"><%= message.text %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Message', new_message_path %>