<%= form_for(@server) do |f| %>
  <% if @server.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@server.errors.count, "error") %> prohibited this server from being saved:</h2>

      <ul>
      <% @server.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :host %><br>
    <%= f.text_field :host, placeholder: 'IRC Server Address', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :encoding %><br>
    <%= f.select :encoding, Encoding.list, {}, class: 'form-control' %>
  </div>
  <%= f.button class: 'btn btn-default' %>
<% end %>
