<p id="notice"><%= notice %></p>

<p>
  <strong>Host:</strong>
  <%= @server.host %>
</p>

<p>
  <strong>Encoding:</strong>
  <%= @server.encoding %>
</p>

<%= link_to 'Edit', edit_server_path(@server) %> |
<%= link_to 'Back', servers_path %>
