<% content_for :title do %>
  <%= "#{@channel.name} #{@date.year}-#{@date.month}-#{@date.day} | Baku" %>
<% end %>

<div class="row">
  <div class="col-sm-3 col-md-2 sidebar">
    <div id="log-header" class="row">
      <div>
        <h1>Logs</h1>
      </div>

      <!-- Channel Selector -->
      <div class="dropdown" id="channel-selector">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="channel-name-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= @channel.name %>
        </button>
        <div id="channels-list" class="dropdown-menu" aria-labelledby="channel-name-dropdown">
          <% @channels.each do |channel| %>
            <%= link_to channel.name, {controller: 'logs', action: 'index', id: channel.name_without_sign}, {class: 'dropdown-item'} %>
          <% end %>
        </div>
      </div>

      <!-- Date Selector -->
      <div class="input-group date">
        <input type="text" class="form-control" value="<%= "#{@date.year}-#{'%02d' % @date.month}-#{'%02d' % @date.day}" if @date.present? %>">
        <span class="input-group-addon">
          <%= fa_icon 'calendar-o' %>
        </span>
      </div>
    </div>
  </div>

  <div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 main">
    <div id="log">
      <div id="message">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Time</th>
            <th>User</th>
            <th>Text</th>
          </tr>
          </thead>

          <tbody>
          <% if @messages.present? %>
            <% @messages.each do |message| %>
              <tr id="<%= message.id %>">
                <td style="width: 60px"><%= link_to message.created_at.to_s(:irc_time), message %></td>
                <td><%= message.user %></td>
                <%= render partial: 'messages/message', locals: {message: message} %>
              </tr>
            <% end %>
          <% else %>
            <tr><td colspan="3">No logs recorded.</td></tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%= javascript_tag do %>
  var dates = <%= raw @dates.map { |d| d.strftime('%Y-%m-%d') } if @dates.present?  %>
  $('#log-header .input-group.date').datepicker({
    format: 'yyyy-mm-dd',
    autoclose: true,
    todayHighlight: true,
    beforeShowDay: function (date){
      var target = moment(date).format('YYYY-MM-DD')
      return _.contains(dates, target);
    }
  }).on('changeDate', function(e){
    var base = '<%= url_for :controller => "logs", :action => "index", :id => @channel.name_without_sign %>';
    location.href= base + '/' + e.date.getFullYear() + '/' + (e.date.getMonth() + 1) + '/' + e.date.getDate();
  });
<% end %>
